<p style="color: green"><%= notice %></p>

<div class="container-fluid">
  <div class="d-flex justify-content-between align-items-center">
    <h1>Rewards</h1>       
    <%= link_to "New reward", new_reward_path, class:"btn btn-primary", style:"text-align: right;" %>
  </div>
<table class="table table-info table-striped table-hover" style="text-align: center;">
  <thead>
    <tr>
    <th>Name</th>
    <th>Logo</th>
    <th>Payout_Type</th>
    <th>Payout_Amount</th>
    <th>Coin_value</th>
    <th>Show</th>
    </tr>
  </thead>
  <% @rewards.each do |reward| %>
  <tr>
    <%= render reward %>
    <td>
      <%= link_to "Show this reward", reward, class:'btn btn-outline-primary' %>
    </td>
  </tr>
  <% end %>
  </table>
  <div class="d-flex justify-content-between">
    <%= will_paginate @rewards , renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
    <span><%= page_entries_info(@rewards)%></span>
  </div>
</div>

